body {
  margin: 0;
  font-family: 'Courier Prime', monospace,  sans-serif, Helvetica, Arial ;
 background-color: #000000;
}
.blinker {
  opacity: 1;
  margin-bottom: 0px;
  height: 300px;
  margin-left: 5px;
  border-left: 7px solid #25b79f;;
  animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
  to {
    visibility: hidden;
  }
}

.intro {
        padding-top: 250px;
        padding-bottom: 250px;
}

.first {
    background-color: #000000;
    color: #25b79f;
}
.text-my-own-color{
    color: #25b79f;
}
.heading{
    font-size: 20px;
}
.name{
    font-size: 75px;
    color:white;
}
.wrapper {
  display: flex;
  align-items: center;
}

.line {
  border-top: 1px solid #25b79f;
  flex-grow: 1;
  margin: 0 10px;
}
h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
    border-top: 1px solid #25b79f;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.white{
    color: white;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}
.padding{
    padding-left: 15px;
    padding-right: 15px;
}
.padding_up{
    padding-top: 25px;
}
.padding_down{
    padding-bottom: 25px;
}

i {
  border: solid #25b79f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
j {
  border: hidden;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.give-some-space{
    padding-top: 150px;
}

.btn {
  border: 2px solid #25b79f;
  background-color: #000000;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.success {
  border-color: #25b79f;
  color: #25b79f;
}

.success:hover {
  background-color: #25b79f;
  color: white;
}
